.text-default {
	color: #ccc
}

.text-primary {
	color: #2d6ca2
}

.text-success {
	color: #419641
}

.text-success-light {
	color: #dff0d8
}

.text-info {
	color: #2aabd2
}

.text-info-light {
	color: d9edf7
}

.text-warning {
	color: #eb9316;
	color: #fc9526
}

.text-danger {
	color: #c12e2a
}

.text-danger-light {
	color: #f2dede
}

.text-link {
	color: #428bca
}

.text-meta {
	color: #999
}

.text-inverse {
	color: #333
}

.text-purple {
	color: purple
}

.text-grey {
	color: #ccc
}

.bk-primary {
	background-color: #2d6ca2;
	color: rgba(255, 255, 255, 0.8)
}

.bk-primary a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-success {
	background-color: #419641;
	color: rgba(255, 255, 255, 0.8)
}

.bk-success a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-success-light {
	background-color: #dff0d8;
	color: rgba(255, 255, 255, 0.8)
}

.bk-success-light a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-info {
	background-color: #2aabd2;
	color: rgba(255, 255, 255, 0.8)
}

.bk-info a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-info-light {
	background-color: d9edf7;
	color: rgba(255, 255, 255, 0.8)
}

.bk-info-light a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-warning {
	background-color: #eb9316;
	color: rgba(255, 255, 255, 0.8)
}

.bk-warning a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-danger {
	background-color: #c12e2a;
	color: rgba(255, 255, 255, 0.8)
}

.bk-danger a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-danger-light {
	background-color: #f2dede;
	color: rgba(255, 255, 255, 0.8)
}

.bk-danger-light a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-link {
	background-color: #428bca;
	color: rgba(255, 255, 255, 0.8)
}

.bk-link a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-meta {
	background-color: #999;
	color: rgba(255, 255, 255, 0.8)
}

.bk-meta a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-inverse {
	background-color: #333;
	color: rgba(255, 255, 255, 0.8)
}

.bk-inverse a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.bk-purple {
	background-color: purple;
	color: rgba(255, 255, 255, 0.8)
}

.bk-purple a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none
}

.modal-body:after, #gop:after, .modal-header:after {
	content: ' ';
	clear: both;
	display: table
}

#advplan ul, #showLevel ul, ul#modalTabs-title, #modalTabs-content {
	margin: 0;
	padding: 0;
	list-style: none
}

#advplan {
	margin-top: 10px;
	clear: both
}

#advplan .tr {
	white-space: nowrap;
	font-size: 0
}

#advplan .tr .td {
	display: inline-block;
	width: 100px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 35px;
	color: #666;
	font-size: 13px
}

#advplan .tr .td:last-child {
	padding-right: 10px
}

#advplan .tr .name {
	text-align: left;
	font-size: 14px;
	color: #333
}

#advplan .header .td {
	line-height: 35px;
	color: #999;
	text-align: right;
	font-size: 13px
}

#advplan .header .name {
	text-align: center
}

#advplan .root .tr .name {
	cursor: pointer
}

#advplan .root .td {
	line-height: 40px;
	height: 40px;
	font-size: 14px;
	background: #f4f4f4;
	background: #edf4fa;
	border: solid 1px #2d6ca2;
	border-left: 0;
	border-right: 0;
	color: #22517a
}

#advplan .tree .tr .name {
	cursor: pointer
}

#advplan .tree .tr .td {
	line-height: 35px;
	border-bottom: dotted 1px #ccc;
	background: #fff
}

#advplan .tree .tr:hover .td {
	background: #f4f4f4;
	color: #2d6ca2
}

#advplan .tree .type0 .td {
	background: #f4f4f4
}

#advplan .td {
	padding: 0 5px
}

#advplan .depth1 {
	padding-left: 0px
}

#advplan .depth2 {
	padding-left: 15px
}

#advplan .depth3 {
	padding-left: 30px
}

#advplan .depth4 {
	padding-left: 45px
}

#advplan .depth5 {
	padding-left: 60px
}

#advplan .depth6 {
	padding-left: 75px
}

#advplan .depth7 {
	padding-left: 90px
}

#advplan .depth8 {
	padding-left: 105px
}

#advplan .depth9 {
	padding-left: 120px
}

#advplan .toggle, #advplan .spacer {
	width: 20px;
	margin: 0 5px;
	display: inline-block;
	color: #999
}

#advplan .toggle {
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer
}

#advplan .toggle:before {
	content: '\f107';
	font-family: fontAwesome;
	font-style: normal;
	display: inline-block;
	line-height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 17px;
	height: 20px;
	transition: transform .3s ease
}

#advplan .toggle:hover:before {
	color: #fff;
	background: #428bca
}

#advplan li>ul {
	transition: max-height .3s ease;
	max-height: 1000px
}

#advplan li.closed>ul {
	max-height: 0px;
	overflow: hidden
}

#advplan li.closed .toggle:before {
	transform: rotate(-90deg)
}

#advplan .otype {
	display: inline-block;
	margin-right: 6px;
	color: #2d6ca2
}

@media ( min-width : 768px) {
	.modal-dialog {
		width: auto;
		margin: 30px 90px
	}
}

input.datepicker {
	width: 100%
}

.modal-body .gslabel {
	width: 33%;
	float: left;
	padding: 0 8px
}

.modal-body .gslabel .t {
	display: inline-block;
	line-height: 30px
}

.modal-body .gslabel .t:after {
	content: '：'
}

.modal-body .gslabel .form-control {
	color: #2d6ca2
}

#dateBox {
	clear: both
}

#dateBox table td, #dateBox table th {
	text-align: right;
	white-space: nowrap
}

#dateBox table tbody th {
	text-shadow: none;
	line-height: 34px;
	width: 1%;
	white-space: nowrap;
	border-top: 0;
	border-bottom: dotted 1px #ccc
}

#dateBox table tbody td {
	line-height: 34px;
	color: #666
}

#dateBox table input.form-control {
	color: #2d6ca2;
	width: 80px;
	display: inline-block;
	text-align: right
}

#dateBox table input[type=number] {
	padding-right: 0
}

#dateBox table input.datepicker {
	width: 130px
}

#dateBox table .datetd {
	padding-left: 49px
}

#dateBox table .datetd {
	padding-left: 49px
}

#dateBox table .numtd {
	text-align: right;
	padding-right: 20px
}

#dateBox table .percenttd {
	text-align: center
}

@media ( max-width : 420px) {
	.modal-body .gslabel {
		width: 100%
	}
}

#gop .fl {
	float: left;
	margin-bottom: 10px
}

#gop .fr {
	float: right;
	margin-bottom: 10px
}

#gop #addNewNode {
	padding: 6px
}

#gop #addNewNode li {
	padding: 0 15px;
	cursor: pointer;
	line-height: 25px
}

#gop #addNewNode li i {
	display: inline-block;
	margin-right: 6px;
	color: #999
}

#gop #addNewNode li:hover {
	background: #2d6ca2;
	color: #fff
}

#gop #addNewNode li:hover i {
	color: #fff
}

#gop .t {
	display: inline-block;
	margin: 0 6px
}

#gop #gsIndex {
	display: inline-block;
	width: 5em
}

.animated {
	-webkit-animation: shake .6s ease 1;
	animation: shake .6s ease 1
}

#showLevel {
	display: inline-block
}

#showLevel .t {
	display: inline-block;
	line-height: 32px;
	color: #999
}

#showLevel ul {
	display: inline-block
}

#showLevel li {
	display: inline-block;
	text-align: center;
	line-height: 32px;
	padding: 0 1em;
	cursor: pointer
}

#showLevel li:hover {
	background: #def;
	color: #428bca
}

#showLevel li.active {
	background: #428bca;
	color: #fff
}

.animateOut {
	-webkit-animation: animateOut .3s ease 1
}

@
-webkit-keyframes animateOut { 0%{
	-webkit-transform: translateX(0)
}

100%{
-webkit-transform
:translateX(2000px)
}
}
.animateIn {
	-webkit-animation: animateIn .3s ease 1
}

@
-webkit-keyframes animateIn { 0%{
	-webkit-transform: translateX(2000px)
}

80%{
-webkit-transform
:translateX(-10px)
}
90%{
-webkit-transform
:translateX(10px)
}
100%{
-webkit-transform
:translateX(0)
}
}
.gsRange {
	display: block
}

.gsRange .num {
	line-height: 30px;
	height: 30px;
	padding: 0 5px;
	display: inline-block;
	width: 4em;
	text-align: center
}

.gsRange input[type=range] {
	margin-top: 8px;
	display: inline-block;
	width: 200px
}

#gsModal {
	padding-bottom: 200px
}

#gsModal[data-type='-1'] #gop #addNewNode li+li {
	display: none
}

#gsModal[data-type='-1'] #gop #deleteNode {
	display: none
}

#gsModal[data-type='-1'] #gop .fr {
	display: none
}

#gsModal[data-type='-1'] #formContainer {
	display: none
}

#gsModal[data-type='-1'] #save {
	display: none
}

#gsModal[data-type='0'] #gop #addNewNode li:nth-child(1) {
	display: none;
	background: red
}

#gsModal[data-type='1'] #gop #addNewNode li:nth-child(1) {
	display: none;
	background: red
}

#gsModal[data-type='2'] #gop .fl .btn-group {
	display: none
}

#gsModal[data-type='2'] #gop #addNewNode li:nth-child(1) {
	display: none;
	background: red
}

#gsModal[data-type='2'] #formContainer .gsRange {
	display: none
}

#gsModal[data-type='2'] #dateBox table thead {
	display: none
}

#gsModal[data-type='2'] #dateBox table tbody tr td:nth-child(3) {
	display: none
}

#gsModal[data-type='2'] #dateBox table tbody tr td:nth-child(4) {
	display: none
}

#gsModal[data-type='2'] #dateBox table tbody tr td:nth-child(5) {
	display: none
}

#gsModal[data-type='2'] #dateBox table tbody tr td:nth-child(6) {
	display: none
}

#gsModal[data-type='2'] #dateBox table tbody td {
	text-align: left
}

#gsModal[data-type='3'] #gop .fl .btn-group {
	display: none
}

#gsModal[data-type='3'] #gop #addNewNode li:nth-child(1) {
	display: none;
	background: red
}

#gsModal[data-type='3'] #formContainer .gsRange {
	display: none
}

#gsModal[data-type='3'] #dateBox table thead {
	display: none
}

#gsModal[data-type='3'] #dateBox table tbody tr td:nth-child(3) {
	display: none
}

#gsModal[data-type='3'] #dateBox table tbody tr td:nth-child(4) {
	display: none
}

#gsModal[data-type='3'] #dateBox table tbody tr td:nth-child(5) {
	display: none
}

#gsModal[data-type='3'] #dateBox table tbody tr td:nth-child(6) {
	display: none
}

#gsModal[data-type='3'] #dateBox table tbody td {
	text-align: left
}

.modal-header {
	padding: 0;
	line-height: 40px;
	height: 40px
}

.modal-header h4.modal-title {
	float: left;
	line-height: 40px;
	height: 40px;
	padding-left: 10px
}

.modal-header .close {
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center
}

.modal-footer {
	border: 0
}

ul#modalTabs-title {
	float: left;
	margin-left: 15px
}

ul#modalTabs-title li {
	float: left;
	padding: 0 8px;
	line-height: 40px;
	height: 40px;
	cursor: pointer
}

ul#modalTabs-title li:hover {
	color: #2d6ca2
}

ul#modalTabs-title li.active {
	border-bottom: solid 3px #2d6ca2;
	color: #2d6ca2
}

#modalTabs-content .item {
	display: none
}

#modalTabs-content .item.active {
	display: block
}

#modalTabs-content .item iframe {
	border: 0;
	height: 400px;
	width: 100%
}

#gop .dropdown-menu {
	padding: 6px
}

#gop .dropdown-menu li {
	padding: 0 15px;
	cursor: pointer;
	line-height: 25px;
	width:250px
}

#gop .dropdown-menu li i {
	display: inline-block;
	margin-right: 6px;
	color: #999
}

#gop .dropdown-menu li:hover {
	background: #2d6ca2;
	color: #fff
}

#gop .dropdown-menu li:hover i {
	color: #fff
}